section.slider {
   margin: 0 auto;
   width: 100%;
   height: auto;
   padding-top: 0 !important;
   overflow: hidden;
   animation: sectionvisible 1s ease-in-out;
   animation-delay: 3s;
   animation-fill-mode: both;
}

@keyframes sectionvisible {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.slidercontent {
  width: 400%;
  height: auto;
  display: flex;

  input{
    display: none;
  }
}

.slidebox {
  width: 25%;
  height: auto;
  position: relative;
  text-align: center;
  transition: 2s;

  img {
    width: 90%;
    border-radius: 20px;
    border: 2px solid #222;
  }
}

.navmanual, .navauto {
  position: absolute;
  width: 100%;
  margin-top: 70%;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.navmanual .manualbtn, .navauto div {
  border: 1px solid #0f2e89;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s;
}

.navmanual .manualbtn:hover {
  background-color: #0f2e89;
}

#radio1:checked ~ .navauto .autobtn1, #radio2:checked ~ .navauto .autobtn2, #radio3:checked ~ .navauto .autobtn3, #radio4:checked ~ .navauto .autobtn4 {
  background-color: #0f2e89;
}

#radio1:checked ~ .primeiro {
  margin-left: 0%;
}

#radio2:checked ~ .primeiro {
  margin-left: -25%;
}

#radio3:checked ~ .primeiro {
  margin-left: -50%;
}
#radio4:checked ~ .primeiro {
  margin-left: -75%;
}

@media screen and (min-width: 768px) {
  .slidebox img {
    width: 80%;
  }

  .navmanual, .navauto {
    margin-top: 81%;
  }
}

@media screen and (min-width: 1024px) {
  .slidebox img {
    width: 60%;
  }

  .navmanual, .navauto {
    margin-top: 61%;
  }
}